# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Secrets
secrets/